/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom,#e0aaff, #c77dff, #9d4edd);

    color: #333;
    line-height: 1.6;
}

header {
    background-color: #3c096c;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0.5em 0;
}



/* Services Section */
.services {
    padding: 2em;

}

.services h2 {
    text-align: center;
    margin-bottom: 1em;
}

.service-list {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    background-color: #7b2cbf;
    color: antiquewhite;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.service-item h3 {
    margin: 0.5em 0;
}

.book-btn {
    /* background-color: #4CAF50; */
    color: #7b2cbf;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #b085d6;
    color: #fff;
}

/* Booking Form */
.booking-form {
    padding: 2em;
    /* background-color: #f4f4f4; */
}

.booking-form h2 {
    text-align: center;
    margin-bottom: 1em;
}

form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form label {
    font-weight: bold;
}

form input, form select, .submit-btn {
    width: 100%;
    padding: 0.7em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #b085d6;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #fff;
    color: #9d4edd;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

/* Responsive Design */
@media (max-width: 768px) {
    .service-list {
        flex-direction: column;
        align-items: center;
    }

    .service-item {
        width: 90%;
    }
}
