
/* Contact Form Section */

.reach {
    padding: 50px 20px;
    background-color: #ffd6ff;
    height: 70vh;
    
  }
  
  .reach h1 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #843084;
  }
  
.maps{
  text-align: left;
  /* transform: translate(-30px,-340px); */
}

.reach .address{
  text-align: right;
  color: #843084;
  transform: translate(0px,-250px);
}

.reach .address h2{
  font-size: 30px;
}




