
/* Global Section */
.global-section{
    background: #b8c0ff;
    width:100%;
    height: 81vh;
    color: black;
}


.global-section #box1{
    height: 80vh;
    width: 65vw;
    background-color: white;
    transform: translate(10px,10px);
}

.global-section #box1 img{
    height: 80vh;
    width: 65vw;    
}

.global-section #box2{
    height: 35vh;
    width: 25vw;
    
    transform: translate(1100px,-556px);
}

.global-section #box2 img{
    height: 35vh;
    width: 25vw;    
}


.global-section #box3{
    height: 35vh;
    width: 25vw;

    
    transform: translate(1100px,-490px);
}

.global-section #box3 img{
    height: 35vh;
    width: 25vw;    
}